-- MySQL dump 10.13  Distrib 8.0.40, for Win64 (x86_64)

--

-- Host: 34.39.134.121    Database: lapuntita

-- ------------------------------------------------------

-- Server version	8.0.31-google



/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;

/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;

/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;

/*!50503 SET NAMES utf8mb4 */;

/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;

/*!40103 SET TIME_ZONE='+00:00' */;

/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;

/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;

/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;

/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;

SET @@SESSION.SQL_LOG_BIN= 0;



--

-- GTID state at the beginning of the backup 

--



SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ '11b5e7ba-99a1-11ef-b0e6-42010a400015:1,

41bf60f9-8540-11ef-91e5-42010a400002:1-338';



--

-- Current Database: `lapuntita`

--



CREATE DATABASE /*!32312 IF NOT EXISTS*/ `lapuntita` /*!40100 DEFAULT CHARACTER SET utf8mb3 */ /*!80016 DEFAULT ENCRYPTION='N' */;



USE `lapuntita`;



--

-- Table structure for table `detalleventa`

--



DROP TABLE IF EXISTS `detalleventa`;

/*!40101 SET @saved_cs_client     = @@character_set_client */;

/*!50503 SET character_set_client = utf8mb4 */;

CREATE TABLE `detalleventa` (

  `idDetalleVenta` int NOT NULL AUTO_INCREMENT,

  `idVenta` int NOT NULL,

  `idProducto` int NOT NULL,

  `cantidad` int NOT NULL,

  `precioUnitario` decimal(10,2) NOT NULL,

  `precio` decimal(10,2) NOT NULL,

  PRIMARY KEY (`idDetalleVenta`),

  KEY `idVenta` (`idVenta`),

  KEY `idProducto` (`idProducto`),

  CONSTRAINT `detalleventa_ibfk_1` FOREIGN KEY (`idVenta`) REFERENCES `venta` (`idVenta`),

  CONSTRAINT `detalleventa_ibfk_2` FOREIGN KEY (`idProducto`) REFERENCES `producto` (`idProducto`)

) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

/*!40101 SET character_set_client = @saved_cs_client */;



--

-- Dumping data for table `detalleventa`

--



LOCK TABLES `detalleventa` WRITE;

/*!40000 ALTER TABLE `detalleventa` DISABLE KEYS */;

INSERT INTO `detalleventa` VALUES (1,1,13,1,18.86,18.86),(2,1,35,1,13.12,13.12),(3,19,19,1,18.04,18.04),(4,19,36,1,13.12,13.12),(5,27,15,1,16.40,16.40),(6,27,5,1,1.64,1.64),(7,27,35,1,13.12,13.12),(8,28,13,1,18.86,18.86),(9,29,18,2,18.04,36.08),(10,30,14,2,22.00,44.00);

/*!40000 ALTER TABLE `detalleventa` ENABLE KEYS */;

UNLOCK TABLES;



--

-- Table structure for table `entrega`

--



DROP TABLE IF EXISTS `entrega`;

/*!40101 SET @saved_cs_client     = @@character_set_client */;

/*!50503 SET character_set_client = utf8mb4 */;

CREATE TABLE `entrega` (

  `idEntrega` int NOT NULL AUTO_INCREMENT,

  `idVenta` int NOT NULL,

  `idRepartidor` int NOT NULL,

  `fechaEntrega` datetime NOT NULL,

  `horaEstimada` time NOT NULL,

  `estadoEntrega` bit(1) NOT NULL,

  PRIMARY KEY (`idEntrega`),

  KEY `idVenta` (`idVenta`),

  KEY `idRepartidor` (`idRepartidor`),

  CONSTRAINT `entrega_ibfk_1` FOREIGN KEY (`idVenta`) REFERENCES `venta` (`idVenta`),

  CONSTRAINT `entrega_ibfk_2` FOREIGN KEY (`idRepartidor`) REFERENCES `repartidor` (`idRepartidor`)

) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

/*!40101 SET character_set_client = @saved_cs_client */;



--

-- Dumping data for table `entrega`

--



LOCK TABLES `entrega` WRITE;

/*!40000 ALTER TABLE `entrega` DISABLE KEYS */;

/*!40000 ALTER TABLE `entrega` ENABLE KEYS */;

UNLOCK TABLES;



--

-- Table structure for table `producto`

--



DROP TABLE IF EXISTS `producto`;

/*!40101 SET @saved_cs_client     = @@character_set_client */;

/*!50503 SET character_set_client = utf8mb4 */;

CREATE TABLE `producto` (

  `idProducto` int NOT NULL AUTO_INCREMENT,

  `idTipoProducto` int NOT NULL,

  `nombreProducto` varchar(50) NOT NULL,

  `descripcion` text,

  `precioUnitario` decimal(10,2) NOT NULL,

  `imagen` varchar(500) NOT NULL,

  PRIMARY KEY (`idProducto`),

  KEY `idTipoProducto` (`idTipoProducto`),

  CONSTRAINT `producto_ibfk_1` FOREIGN KEY (`idTipoProducto`) REFERENCES `tipoproducto` (`idTipoProducto`)

) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

/*!40101 SET character_set_client = @saved_cs_client */;



--

-- Dumping data for table `producto`

--



LOCK TABLES `producto` WRITE;

/*!40000 ALTER TABLE `producto` DISABLE KEYS */;


/*!40000 ALTER TABLE `producto` ENABLE KEYS */;

UNLOCK TABLES;



--

-- Table structure for table `repartidor`

--



DROP TABLE IF EXISTS `repartidor`;

/*!40101 SET @saved_cs_client     = @@character_set_client */;

/*!50503 SET character_set_client = utf8mb4 */;

CREATE TABLE `repartidor` (

  `idRepartidor` int NOT NULL AUTO_INCREMENT,

  `nombre` varchar(50) NOT NULL,

  `apellido` varchar(50) NOT NULL,

  `telefono` varchar(9) NOT NULL,

  `disponibilidad` bit(1) NOT NULL,

  `eliminado` bit(1) NOT NULL,

  PRIMARY KEY (`idRepartidor`)

) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

/*!40101 SET character_set_client = @saved_cs_client */;



--

-- Dumping data for table `repartidor`

--



LOCK TABLES `repartidor` WRITE;

/*!40000 ALTER TABLE `repartidor` DISABLE KEYS */;

INSERT INTO `repartidor` VALUES (1,'Carlos','Rodr뿯½guez','987654321',_binary '',_binary '\0'),(2,'Javier','Gonz뿯½lez','996543210',_binary '',_binary '\0'),(3,'Andr뿯½s','Mart뿯½nez','919876543',_binary '',_binary '\0');

/*!40000 ALTER TABLE `repartidor` ENABLE KEYS */;

UNLOCK TABLES;



--

-- Table structure for table `tipoproducto`

--



DROP TABLE IF EXISTS `tipoproducto`;

/*!40101 SET @saved_cs_client     = @@character_set_client */;

/*!50503 SET character_set_client = utf8mb4 */;

CREATE TABLE `tipoproducto` (

  `idTipoProducto` int NOT NULL AUTO_INCREMENT,

  `tipoProducto` varchar(10) NOT NULL,

  PRIMARY KEY (`idTipoProducto`)

) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

/*!40101 SET character_set_client = @saved_cs_client */;



--

-- Dumping data for table `tipoproducto`

--



LOCK TABLES `tipoproducto` WRITE;

/*!40000 ALTER TABLE `tipoproducto` DISABLE KEYS */;

INSERT INTO `tipoproducto` VALUES (1,'Alimento'),(2,'Bebida'),(3,'Topping');

/*!40000 ALTER TABLE `tipoproducto` ENABLE KEYS */;

UNLOCK TABLES;



--

-- Table structure for table `tipousuario`

--



DROP TABLE IF EXISTS `tipousuario`;

/*!40101 SET @saved_cs_client     = @@character_set_client */;

/*!50503 SET character_set_client = utf8mb4 */;

CREATE TABLE `tipousuario` (

  `idTipoUsuario` int NOT NULL AUTO_INCREMENT,

  `tipoUsuario` varchar(10) NOT NULL,

  PRIMARY KEY (`idTipoUsuario`)

) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

/*!40101 SET character_set_client = @saved_cs_client */;



--

-- Dumping data for table `tipousuario`

--



LOCK TABLES `tipousuario` WRITE;

/*!40000 ALTER TABLE `tipousuario` DISABLE KEYS */;

INSERT INTO `tipousuario` VALUES (1,'Admin'),(2,'Cliente');

/*!40000 ALTER TABLE `tipousuario` ENABLE KEYS */;

UNLOCK TABLES;



--

-- Table structure for table `usuario`

--



DROP TABLE IF EXISTS `usuario`;

/*!40101 SET @saved_cs_client     = @@character_set_client */;

/*!50503 SET character_set_client = utf8mb4 */;

CREATE TABLE `usuario` (

  `idUsuario` int NOT NULL AUTO_INCREMENT,

  `idTipoUsuario` int NOT NULL,

  `dni` varchar(8) NOT NULL,

  `nombre` varchar(50) NOT NULL,

  `apellido` varchar(50) NOT NULL,

  `telefono` varchar(9) NOT NULL,

  `email` varchar(255) NOT NULL,

  `direccion` text NOT NULL,

  `referencia` text,

  `passw` text NOT NULL,

  `correoVerificado` bit(1) NOT NULL,

  `eliminado` bit(1) NOT NULL,

  PRIMARY KEY (`idUsuario`),

  KEY `idTipoUsuario` (`idTipoUsuario`),

  CONSTRAINT `usuario_ibfk_1` FOREIGN KEY (`idTipoUsuario`) REFERENCES `tipousuario` (`idTipoUsuario`)

) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

/*!40101 SET character_set_client = @saved_cs_client */;



--

-- Dumping data for table `usuario`

--



LOCK TABLES `usuario` WRITE;

/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;


/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;

UNLOCK TABLES;



--

-- Table structure for table `venta`

--



DROP TABLE IF EXISTS `venta`;

/*!40101 SET @saved_cs_client     = @@character_set_client */;

/*!50503 SET character_set_client = utf8mb4 */;

CREATE TABLE `venta` (

  `idVenta` int NOT NULL AUTO_INCREMENT,

  `idUsuario` int NOT NULL,

  `importeVenta` decimal(10,2) NOT NULL,

  `importeIGV` decimal(10,2) NOT NULL,

  `importeTotal` decimal(10,2) NOT NULL,

  `fecha` datetime NOT NULL,

  `codigoBoleta` char(8) NOT NULL,

  `estado` bit(1) NOT NULL,

  PRIMARY KEY (`idVenta`),

  KEY `idUsuario` (`idUsuario`),

  CONSTRAINT `venta_ibfk_1` FOREIGN KEY (`idUsuario`) REFERENCES `usuario` (`idUsuario`)

) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

/*!40101 SET character_set_client = @saved_cs_client */;



--

-- Dumping data for table `venta`

--



LOCK TABLES `venta` WRITE;

/*!40000 ALTER TABLE `venta` DISABLE KEYS */;

INSERT INTO `venta` VALUES (1,1,31.98,5.76,37.74,'2024-10-02 19:25:47','3eb20071',_binary '\0'),(19,3,31.16,5.61,36.77,'2024-10-02 20:40:07','0054f41a',_binary '\0'),(27,1,31.16,5.61,36.77,'2024-10-08 09:31:57','722b2c95',_binary '\0'),(28,3,18.86,3.39,22.25,'2024-10-22 16:55:40','31c038ad',_binary '\0'),(29,6,29.59,6.49,36.08,'2024-10-28 07:18:58','9e634768',_binary '\0'),(30,1,36.08,7.92,44.00,'2024-10-31 04:43:35','874559b8',_binary '\0');

/*!40000 ALTER TABLE `venta` ENABLE KEYS */;

UNLOCK TABLES;



--

-- Dumping events for database 'lapuntita'

--



--

-- Dumping routines for database 'lapuntita'

--

/*!50003 DROP PROCEDURE IF EXISTS `actualizarimportesventa` */;

/*!50003 SET @saved_cs_client      = @@character_set_client */ ;

/*!50003 SET @saved_cs_results     = @@character_set_results */ ;

/*!50003 SET @saved_col_connection = @@collation_connection */ ;

/*!50003 SET character_set_client  = utf8mb4 */ ;

/*!50003 SET character_set_results = utf8mb4 */ ;

/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;

/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;

/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;

DELIMITER ;;

CREATE DEFINER=`root`@`%` PROCEDURE `actualizarimportesventa`(in d_idventa int)

begin

	declare d_impventa decimal (10,2);

    declare d_impigv decimal (10,2);

    declare d_imptotal decimal (10,2);

    

    select sum(precio) into d_imptotal from detalleventa where idVenta = d_idventa;

    set d_impigv = d_imptotal * 0.18;

    set d_impventa = d_imptotal - d_impigv;

    

    update venta

    set

		importeVenta = d_impventa,

        importeIGV = d_impigv,

        importeTotal = d_imptotal,

        fecha = now()

	where idVenta = d_idventa;

end ;;

DELIMITER ;

/*!50003 SET sql_mode              = @saved_sql_mode */ ;

/*!50003 SET character_set_client  = @saved_cs_client */ ;

/*!50003 SET character_set_results = @saved_cs_results */ ;

/*!50003 SET collation_connection  = @saved_col_connection */ ;

/*!50003 DROP PROCEDURE IF EXISTS `agregarproductodetalleventa` */;

/*!50003 SET @saved_cs_client      = @@character_set_client */ ;

/*!50003 SET @saved_cs_results     = @@character_set_results */ ;

/*!50003 SET @saved_col_connection = @@collation_connection */ ;

/*!50003 SET character_set_client  = utf8mb4 */ ;

/*!50003 SET character_set_results = utf8mb4 */ ;

/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;

/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;

/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;

DELIMITER ;;

CREATE DEFINER=`root`@`%` PROCEDURE `agregarproductodetalleventa`(

	in d_idventa int,

    in d_idproducto int,

    in d_cantidad int

)

begin

	declare p_unitario decimal (10,2);

    declare p_c_unit decimal (10,2);

    

    select precioUnitario into p_unitario from producto where idProducto = d_idproducto;

    set p_c_unit = d_cantidad * p_unitario;

    

    insert into detalleventa(idventa, idproducto, cantidad, preciounitario, precio)

    values (d_idventa, d_idproducto, d_cantidad, p_unitario, p_c_unit);

end ;;

DELIMITER ;

/*!50003 SET sql_mode              = @saved_sql_mode */ ;

/*!50003 SET character_set_client  = @saved_cs_client */ ;

/*!50003 SET character_set_results = @saved_cs_results */ ;

/*!50003 SET collation_connection  = @saved_col_connection */ ;

/*!50003 DROP PROCEDURE IF EXISTS `crearrepartidor` */;

/*!50003 SET @saved_cs_client      = @@character_set_client */ ;

/*!50003 SET @saved_cs_results     = @@character_set_results */ ;

/*!50003 SET @saved_col_connection = @@collation_connection */ ;

/*!50003 SET character_set_client  = utf8mb4 */ ;

/*!50003 SET character_set_results = utf8mb4 */ ;

/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;

/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;

/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;

DELIMITER ;;

CREATE DEFINER=`lapuntita`@`%` PROCEDURE `crearrepartidor`(

	in d_nombre VARCHAR(50),

    in d_apellido VARCHAR(50),

    in d_telef VARCHAR(9)

)

BEGIN

	INSERT INTO repartidor( nombre, apellido, telefono, disponibilidad, eliminado)

    VALUES(d_nombre, d_apellido, d_telef,뿯½1, 0);

END ;;

DELIMITER ;

/*!50003 SET sql_mode              = @saved_sql_mode */ ;

/*!50003 SET character_set_client  = @saved_cs_client */ ;

/*!50003 SET character_set_results = @saved_cs_results */ ;

/*!50003 SET collation_connection  = @saved_col_connection */ ;

/*!50003 DROP PROCEDURE IF EXISTS `crearusuario` */;

/*!50003 SET @saved_cs_client      = @@character_set_client */ ;

/*!50003 SET @saved_cs_results     = @@character_set_results */ ;

/*!50003 SET @saved_col_connection = @@collation_connection */ ;

/*!50003 SET character_set_client  = utf8mb4 */ ;

/*!50003 SET character_set_results = utf8mb4 */ ;

/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;

/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;

/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;

DELIMITER ;;

CREATE DEFINER=`root`@`%` PROCEDURE `crearusuario`(

	in d_dni varchar(8),

    in d_nombre varchar(50),

    in d_apellido varchar(50),

    in d_telef varchar(9),

    in d_email varchar(255),

    in d_direc text,

    in d_ref text,

    in d_passw text

)

begin

	insert into usuario (idtipousuario, dni, nombre, apellido, telefono, email, direccion, referencia, passw , correoVerificado, eliminado)

    values (2, d_dni, d_nombre, d_apellido, d_telef, d_email, d_direc, d_ref, d_passw, 0, 0);

end ;;

DELIMITER ;

/*!50003 SET sql_mode              = @saved_sql_mode */ ;

/*!50003 SET character_set_client  = @saved_cs_client */ ;

/*!50003 SET character_set_results = @saved_cs_results */ ;

/*!50003 SET collation_connection  = @saved_col_connection */ ;

/*!50003 DROP PROCEDURE IF EXISTS `crearventa` */;

/*!50003 SET @saved_cs_client      = @@character_set_client */ ;

/*!50003 SET @saved_cs_results     = @@character_set_results */ ;

/*!50003 SET @saved_col_connection = @@collation_connection */ ;

/*!50003 SET character_set_client  = utf8mb4 */ ;

/*!50003 SET character_set_results = utf8mb4 */ ;

/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;

/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;

/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;

DELIMITER ;;

CREATE DEFINER=`root`@`%` PROCEDURE `crearventa`(

	in iduser int

)

begin

	declare codboleta char(8);

    declare d_idventa int;

    

    -- para el codigoboleta

    _generarcodigo: while true do

		set codboleta = left(uuid(), 8);

        if not exists (select 1 from venta where codigoBoleta = codboleta) then

			leave _generarcodigo;

		end if;

	end while _generarcodigo;

    

    insert into venta (idUsuario, importeVenta, importeIGV, importeTotal, fecha, codigoBoleta, estado)

    values (iduser, 0, 0, 0, now(), codboleta, 0);

    

    set d_idventa = last_insert_id();

    

    select d_idventa as idVenta;

end ;;

DELIMITER ;

/*!50003 SET sql_mode              = @saved_sql_mode */ ;

/*!50003 SET character_set_client  = @saved_cs_client */ ;

/*!50003 SET character_set_results = @saved_cs_results */ ;

/*!50003 SET collation_connection  = @saved_col_connection */ ;

/*!50003 DROP PROCEDURE IF EXISTS `deleterepartidor` */;

/*!50003 SET @saved_cs_client      = @@character_set_client */ ;

/*!50003 SET @saved_cs_results     = @@character_set_results */ ;

/*!50003 SET @saved_col_connection = @@collation_connection */ ;

/*!50003 SET character_set_client  = utf8mb4 */ ;

/*!50003 SET character_set_results = utf8mb4 */ ;

/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;

/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;

/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;

DELIMITER ;;

CREATE DEFINER=`lapuntita`@`%` PROCEDURE `deleterepartidor`(

	IN idrepar INT

)

BEGIN

	update repartidor

    set eliminado = 1 where idRepartidor = idrepar;

END ;;

DELIMITER ;

/*!50003 SET sql_mode              = @saved_sql_mode */ ;

/*!50003 SET character_set_client  = @saved_cs_client */ ;

/*!50003 SET character_set_results = @saved_cs_results */ ;

/*!50003 SET collation_connection  = @saved_col_connection */ ;

/*!50003 DROP PROCEDURE IF EXISTS `deleteusuario` */;

/*!50003 SET @saved_cs_client      = @@character_set_client */ ;

/*!50003 SET @saved_cs_results     = @@character_set_results */ ;

/*!50003 SET @saved_col_connection = @@collation_connection */ ;

/*!50003 SET character_set_client  = utf8mb4 */ ;

/*!50003 SET character_set_results = utf8mb4 */ ;

/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;

/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;

/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;

DELIMITER ;;

CREATE DEFINER=`root`@`%` PROCEDURE `deleteusuario`(

	in iduser int

)

begin

	update usuario

    set eliminado = 1 where idUsuario = iduser;

end ;;

DELIMITER ;

/*!50003 SET sql_mode              = @saved_sql_mode */ ;

/*!50003 SET character_set_client  = @saved_cs_client */ ;

/*!50003 SET character_set_results = @saved_cs_results */ ;

/*!50003 SET collation_connection  = @saved_col_connection */ ;

/*!50003 DROP PROCEDURE IF EXISTS `eliminarusuario` */;

/*!50003 SET @saved_cs_client      = @@character_set_client */ ;

/*!50003 SET @saved_cs_results     = @@character_set_results */ ;

/*!50003 SET @saved_col_connection = @@collation_connection */ ;

/*!50003 SET character_set_client  = utf8mb4 */ ;

/*!50003 SET character_set_results = utf8mb4 */ ;

/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;

/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;

/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;

DELIMITER ;;

CREATE DEFINER=`root`@`%` PROCEDURE `eliminarusuario`(

	in iduser int

)

begin

	delete from usuario where idUsuario = iduser;

end ;;

DELIMITER ;

/*!50003 SET sql_mode              = @saved_sql_mode */ ;

/*!50003 SET character_set_client  = @saved_cs_client */ ;

/*!50003 SET character_set_results = @saved_cs_results */ ;

/*!50003 SET collation_connection  = @saved_col_connection */ ;

/*!50003 DROP PROCEDURE IF EXISTS `updatecorreo` */;

/*!50003 SET @saved_cs_client      = @@character_set_client */ ;

/*!50003 SET @saved_cs_results     = @@character_set_results */ ;

/*!50003 SET @saved_col_connection = @@collation_connection */ ;

/*!50003 SET character_set_client  = utf8mb4 */ ;

/*!50003 SET character_set_results = utf8mb4 */ ;

/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;

/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;

/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;

DELIMITER ;;

CREATE DEFINER=`lapuntita`@`%` PROCEDURE `updatecorreo`(

	IN idcoverif INT,

    IN d_coverif BIT

)

BEGIN

	UPDATE usuario

	SET

        correoVerificado= COALESCE( d_coverif, correoVerificado)

    WHERE idUsuario = idcoverif;

END ;;

DELIMITER ;

/*!50003 SET sql_mode              = @saved_sql_mode */ ;

/*!50003 SET character_set_client  = @saved_cs_client */ ;

/*!50003 SET character_set_results = @saved_cs_results */ ;

/*!50003 SET collation_connection  = @saved_col_connection */ ;

/*!50003 DROP PROCEDURE IF EXISTS `updatepreciounitario` */;

/*!50003 SET @saved_cs_client      = @@character_set_client */ ;

/*!50003 SET @saved_cs_results     = @@character_set_results */ ;

/*!50003 SET @saved_col_connection = @@collation_connection */ ;

/*!50003 SET character_set_client  = utf8mb4 */ ;

/*!50003 SET character_set_results = utf8mb4 */ ;

/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;

/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;

/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;

DELIMITER ;;

CREATE DEFINER=`lapuntita`@`%` PROCEDURE `updatepreciounitario`(

	IN idprecioun INT,

	IN d_preciounitario DECIMAL(10, 2) 

)

BEGIN

    UPDATE producto

    SET 

		precioUnitario = coalesce(d_preciounitario, precioUnitario)

    WHERE idProducto = idprecioun;

END ;;

DELIMITER ;

/*!50003 SET sql_mode              = @saved_sql_mode */ ;

/*!50003 SET character_set_client  = @saved_cs_client */ ;

/*!50003 SET character_set_results = @saved_cs_results */ ;

/*!50003 SET collation_connection  = @saved_col_connection */ ;

/*!50003 DROP PROCEDURE IF EXISTS `updaterepartidor` */;

/*!50003 SET @saved_cs_client      = @@character_set_client */ ;

/*!50003 SET @saved_cs_results     = @@character_set_results */ ;

/*!50003 SET @saved_col_connection = @@collation_connection */ ;

/*!50003 SET character_set_client  = utf8mb4 */ ;

/*!50003 SET character_set_results = utf8mb4 */ ;

/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;

/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;

/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;

DELIMITER ;;

CREATE DEFINER=`lapuntita`@`%` PROCEDURE `updaterepartidor`(

	IN idrepar INT,

    IN d_telef VARCHAR(9),

    IN d_dispo BIT(1)

)

BEGIN

	UPDATE repartidor

    SET

		telefono = COALESCE(d_telef, telefono),

        disponibilidad = COALESCE(d_dispo, disponibilidad)

	WHERE idRepartidor뿯½=뿯½idrepar;

END ;;

DELIMITER ;

/*!50003 SET sql_mode              = @saved_sql_mode */ ;

/*!50003 SET character_set_client  = @saved_cs_client */ ;

/*!50003 SET character_set_results = @saved_cs_results */ ;

/*!50003 SET collation_connection  = @saved_col_connection */ ;

/*!50003 DROP PROCEDURE IF EXISTS `updateusuario` */;

/*!50003 SET @saved_cs_client      = @@character_set_client */ ;

/*!50003 SET @saved_cs_results     = @@character_set_results */ ;

/*!50003 SET @saved_col_connection = @@collation_connection */ ;

/*!50003 SET character_set_client  = utf8mb4 */ ;

/*!50003 SET character_set_results = utf8mb4 */ ;

/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;

/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;

/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;

DELIMITER ;;

CREATE DEFINER=`root`@`%` PROCEDURE `updateusuario`(

	in iduser int,

    in d_telef varchar(9),

    in d_email varchar(255),

    in d_direc text,

    in d_ref text,

    in d_passw text

)

begin

	update usuario

    set

        telefono = coalesce(d_telef, telefono),

        email = coalesce(d_email, email),

        direccion = coalesce(d_direc, direccion),

        referencia = coalesce(d_ref, referencia),

        passw = coalesce(d_passw, passw)

	where idUsuario = iduser;

end ;;

DELIMITER ;

/*!50003 SET sql_mode              = @saved_sql_mode */ ;

/*!50003 SET character_set_client  = @saved_cs_client */ ;

/*!50003 SET character_set_results = @saved_cs_results */ ;

/*!50003 SET collation_connection  = @saved_col_connection */ ;

SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;

/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;



/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;

/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;

/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;

/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;

/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;

/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;

/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;



-- Dump completed on 2024-11-03  0:09:31

